{% extends 'sales/base.html' %}
{% load static %}
{% block content %}
<h2>страница клиента</h2>

<li class="message--unread">
    <a href="message.html">
        <span class="message__author">Message1</span>
        <span class="message__subject">M2</span>
        <span class="message__date">M3</span>
    </a>
</li>
<li class="message--unread">
    <a href="message.html">
        <span class="message__author">M1</span>
        <span class="message__subject">M2</span>
        <span class="message__date">M3</span>
    </a>
</li>

{% endblock %}