{% extends 'service/service_top.html' %}
{% load static %}
{% block content%}

<div class="current">/ Главная / Автосервис / Услуги и цены </div>

<title>Прайс-лист</title>
Снятие,установка бампера
1000 руб.
Ремонт замка двери
1500 руб.
Сварочные работы
700 руб.
Сборка и разборка двери
1200 руб.
Прайс-лист / Кузовной цех / Ремонтная окраска одного элемента
4500 руб.
Покраска кузова / Покрасочные работы
65 000 руб.
Система охлаждения и кондиционирования / Диагностика КПП
от 700 руб.
Система охлаждения и кондиционирования / Диагностика двигателя
700 руб.
Газо - распределительный механизм двигателя / Ремень ГРМ / цепь - замена
от 1500 руб.
Цепь ГРМ (замена)
от 4500 руб.
Замена - цепи ГРМ
от 4500 руб.
Компьютерная диагностика электронных систем
от 800 руб.
Диагностика двигателя сканером на наличие ошибок, проверка текущих данных работы двигателя
от 80 руб.
Компьютерная диагностика авто
от 800 руб.
Прайс-лист / Ремень кондиционера - замена
от 500 руб.
Работы по ремонту автокондиционеров / Замена резинового уплотнителя (соединения)
от 500 руб.
Работы по ремонту автокондиционеров / Диагностика кондиционера с 1 испарителем
от 400 руб.
Работы по ремонту автокондиционеров / Замена шкива компрессора
от 600 руб.
Прокачка тормозов
от 400 руб.
Тормозная система / Цилиндр тормозной главные (с прокачкой) – замена
от 1500 руб.
Замена тормозного шланга с прокачкой - иномарки
от 550 руб.
Замена тормозной трубки с прокачкой - иномарки
от 550 руб.
Прайс-лист / Система охлаждения / Кран отопителя – замена
от 350 руб.
Система охлаждения / А / м отеч. пр - ва / Замена - помпы
от 800 руб.
Система охлаждения / А / м отеч. пр - ва / Замена - радиатора охлаждения
от 1500 руб.
Система охлаждения / А / м отеч. пр - ва / Замена - термостата
от 800 руб.
Прайс-лист / Диагностика двигателя / Ваз 2107 / Форсунки с/у
от 800 руб.
Топливная система / А / м отеч. пр - ва / Ремонт - бензонасоса
от 1500 руб.
Топливная система / А / м отеч. пр - ва / Ремонт карбюратора п / а
от 1500 руб.
Топливная система / Иномарка / Ремонт - бензонасоса
от 1500 руб.
Прайс-лист / Передний мост - замена масла (1 группа)
от 350 руб.
Прайс-лист / Замена охлаждающей жидкости, легковая
от 600 руб.
Автоуслуги / Замена воздушного фильтра
от 100 руб.
Прайс-лист / Масло в АКПП – замена с заменой фильтра
от 2000 руб.
Комплекс шиномонтаж и балансировка колес / Снятие, установка колес, балансировка, грузики
от 950 руб.
Комплекс шиномонтаж и балансировка колес
от 500 руб.
Комплекс шиномонтаж и балансировка колес / Снятие, установка колес, демонтаж/монтаж шин, балансировка, грузики
от 950 руб.
Шиномонтаж / Кроссоверы, внедорожники, автобусы / Комплексные работы по «переобувке» / Монтаж шин на диски, балансировка и установка 4х колес на а / м (профиль <55%) R - 15 (кроссоверы, внедорожники, автобусы)
от 950 руб.
Колесо снять/поставить
от 80 руб.
Жгут колеса установка(ремонт колеса),
от 150 руб.
Углы установки колес - проверка
от 500 руб.
Легковой 15' — 16'. В стоимость услуг включено: съем, установка, монтаж, демонтаж, балансировка, балансировочные грузики.Работа с Runflat/ низким профилем (менее 50) / датчиками давления - дополнительно +100р./колесо за каждый критерий / Сборка - штампованный диск
от 950 руб.
Прайс-лист / Легковой 13' — 14'. В стоимость услуг включено: съем, установка, монтаж, демонтаж, балансировка, балансировочные грузики.Работа с Runflat/ низким профилем (менее 50) / датчиками давления - дополнительно +100р./колесо за каждый критерий / Сборка - штампованный диск
от 950 руб.
Шиномонтажные работы / R17 / Подкачка колес
от 10 руб.
Шиномонтаж 20R
от 2000 руб.
Ремонт / Внедорожник, ком. микроавтобус / Замена зад. торм. колодок - дисковых
от 500 руб.
Замена жидкости гидроусилителя руля - отечетсвенные
от 600 руб.
Замена жидкости гидроусилителя руля - иномарки
от 600 руб.
Стоимость работ / Замена масла МКПП
от 450 руб.
Замена тех.жидкостей и фильтров / Масло в МКПП - замена
от 450 руб.
Замена масла в коробке МКПП - отечетсвенные
от 450 руб.
Замена масла с фильтром в двигателе
от 400 руб.
Замена моторного масла
от 400 руб.
Масло в двигателе – замена без снятия защиты
от 400 руб.
Масло и маслянный фильтр в двигателе - замена
от 400 руб.
Прайс-лист / Замена масла АКПП/вариатор
от 800 руб.
Прайс-лист / Замена масла МКПП
от 450 руб.
Прайс-лист / Масло в АКПП – замена без замены фильтра
от 800 руб.
Прайс-лист / Масло в МКПП - замена
от 450 руб.
Масло в раздаточной коробке - замена
от 450 руб.
Замена масла в мосту, раздатке - отечетсвенные
от 350 руб.
Замена масла в двигателе (включая фильтр) (2 группа)
от 450 руб.
Замена масла в двигателе (включая фильтр) (1 группа)
от 450 руб.
Замена масла в двигателе (включая фильтр) (3 группа)
от 400 руб.
АКПП - замена масла с фильтром (1 группа)
от 2000 руб.
Замена - тосола.
от 600 руб.
Замена радиатора печки со снятием торпеды
от 4500 руб.
Сальник коленвала передний - замена (Ремень ГРМ снят),
от 350 руб.
Замена ремня ГРМ
от 1500 руб.
Стоимость работ / Замена ремней, роликов ГРМ
от 1500 руб.
Ремонт двигателя / Замена ремня ГРМ
от 1500 руб.
Ремень кондиционера - замена
от 500 руб.
Работы по ремонту автокондиционеров / Замена ремня компрессора
от 500 руб.
Фильтр салонный - замена (стоимость может отличаться в зависимости от автомобиля) (1 группа)
от 250 руб.
Фильтр салонный - замена (стоимость может отличаться в зависимости от автомобиля) (2 группа)
от 250 руб.
Фильтр салонный - замена (стоимость может отличаться в зависимости от автомобиля) (3 группа)
от 250 руб.
Свечи зажигания - замена
от 80 руб.
Фильтр топливный - замена (дизель)
от 500 руб.
Фильтр топливный – замена
от 250 руб.
Фильтр предворительной очистки топлива: замена
от 250 руб.
Замена топливного фильтра
от 250 руб.
Бочок тормозной жидкости (без прокачки) – замена
от 350 руб.
Жидкость тормозная –замена с прокачкой
от 600 руб.
Замена тормозной жидкости легковые а/м
от 600 руб.
Замена тормозной жидкости микроавтобусы, внедорожники
от 600 руб.
Замена цепи ГРМ - отечетсвенные
от 4500 руб.
Тормозная система / Замена тормозных дисков (пара)
от 1000 руб.
Тормозная система / Замена суппорта в сборе
от 600 руб.
Тормозная система / Замена троса ручного тормоза
от 650 руб.
Тормозная система / Замена вакуумного усилителя
от 1500 руб.
Прайс-лист / Диагностика и ремонт тормозной системы / Колодки тормозные барабанные
от 850 руб.
Прайс-лист / Замена задней балки
от 2000 руб.
Передняя подвеска / Замена стоек стабилизатора
от 350 руб.
Тормозная система / Замена тормозного барабана
от 350 руб.
Замена - ШРУС наруж.
от 1000 руб.
Замена - ШРУС внутр
от 1000 руб.
Замена - ШРУС в сборе
от 1000 руб.
Замена шруса
от 1000 руб.
Насос ГУР - Замена,
от 1000 руб.
Рулевое управление / ГУР (насос) – замена
от 1000 руб.
Замена ремня гидроусилителя - отечественные
от 500 руб.
Замена ремня гидроусилителя - иномарки
от 500 руб.
Ремонт рулевой рейки / Замена рулевых тяг
от 250 руб.
Рулевая рейка (механизм_– замена
от 1500 руб.
Замена рулевой тяги (при ремонте рейки бесплатно)
от 750 руб.
Наконечник рулевой,при снятой тяге: замена
от 250 руб.
Рулевое управление / Тяга рулевая – замена
от 750 руб.
Тяга рулевая - замена
от 750 руб.
Замена рулевых наконечников, стоек стабилизаторов
от 600 руб.
Стоимость работ / Замена рулевых наконечников, стоек стабилизаторов
от 600 руб.
Рулевое управление / Наконечник рулевой – замена
от 250 руб.
Рулевые рейки / Замена рулевой колонки
от 1500 руб.
Рулевое управление / А / м отеч. пр - ва / Замена - рулевых наконечников
от 250 руб.
Рулевое управление / А / м отеч. пр - ва / Замена - рулевого редуктора
от 250 руб.
Рулевое управление / Иномарка / Замена - рулевых наконечников
от 250 руб.
Прайс-лист / Диагностика двигателя сканером на наличие ошибок, проверка текущих данных работы двигателя
от 800 руб.
Замена топливного фильтра(бензонасоса) в баке с доступом из салона
от 800 руб.
Насос топливный - замена
от 1500 руб.
Бензонасос - замена
от 1500 руб.
Замена топливного насоса
от 1500 руб.
Фильтр воздушный (карбюратор): замена
от 150 руб.
Общие работы при проведении ТО / Фильтр воздушный - замена
от 100 руб.
Замена воздушного фильтра - отечественные
от 100 руб.
Замена воздушного фильтра - иномарки
от 100 руб.
Жидкость ГУР - замена
от 600 руб.
Лампа – замена (без снятия фары) (передняя / задняя)
от 50 руб.
Прайс-лист / Замена лампочки салонной
от 100 руб.
Прайс-лист / Замена лампочки противотуманной
от 100 руб.
Лампа стоп - сигнала - замена (1 группа)
от 100 руб.
Замена ступицы/подшипника зад.
от 600 руб.
Ремонт подвески / Замена ступицы/подшипника зад.
от 600 руб.
Замена ступицы
от 600 руб.
Замена - подшипипника ступицы (з)
от 600 руб.
Подшипник ступицы задний – замена
от 600 руб.
Замена подшипника ступицы
от 600 руб.
Замена - подшипника ступицы (п)
от 600 руб.
Кулак поворотный – замена (без замены подшипника ступицы)
от 600 руб.
замена суппорта в сборе
от 600 руб.
Тормозная система / Суппорт тормозной (с прокачкой) – замена
от 800 руб.
Замена - торм. суппорта
от 600 руб.
Замена переднего тормозного цилиндра суппорта - отечетсвенные
от 600 руб.
Цилиндр тормозной передний при снятом суппорте: замена
от 1100 руб.
Тормозная система / Цилиндр рабочий передний / задний – замена
от 450 руб.
замена тормозного цилиндра перед.
от 450 руб.
Тормозной цилиндр главный - замена
от 800 руб.
Шланг тормозной (с прокачкой) – замена
от 550 руб.
замена тормозного шланга с прокачкой
от 550 руб.
Замена тормозного шланга, трубки с прокачкой
от 550 руб.
Замена магистральной тормозной трубки
от 550 руб.
Цилиндр тормозной задний – замена (барабан снят)
от 450 руб.
Цилиндр тормозной - замена (со снятием тормозного барабана)
от 650 руб.
Диск тормозной, барабан – замена
от 350 руб.
Колодки тормозные задние (Барабан) - замена (1 группа)
от 850 руб.
Диски тормозные задние — замена
от 500 руб.
Диски тормозные задние - замена
от 500 руб.
замена тормозного диска
от 500 руб.
Диски передние тормозные - замена (2 группа)
от 500 руб.
Колодки тормозные задние (RR) (Диск) - Замена,
от 450 руб.
Колодки тормозные передние - замена
от 400 руб.
Колодки тормозные задние (дисковые) - замена
от 450 руб.
Колодки тормозные передние - замена (1 группа)
от 400 руб.
замена тормозной трубки с прокачкой
от 550 руб.
Трубка тормозная: замена (короткая)
от 350 руб.
Трубка тормозная магистральная: замена
от 550 руб.
Трубка тормозная (с прокачкой) – замена
от 550 руб.
Тормозная система / Волга 406 дв. / Трос привода тормоза стояночного передний: замена
от 650 руб.
Тормозная система / Комплект тросов привода стояночного тормоза – замена
от 1500 руб.
Трос тормоза стояночного с колодками: замена
от 1500 руб.
Замена шаровой опоры
от 450 руб.
Стоимость работ / Замена шаровых опор
от 450 руб.
Опора шаровая - замена (рычаг снят),
от 450 руб.
Шаровая опора верхняя– замена
от 450 руб.
Замена шаровых опор
от 450 руб.
Ремонт передней подвески
от 100 руб.
Прайс-лист / Замена колодок стояночного тормоза — легковые
от 450 руб.
Тормозная система / Волга 402 дв. / Трос привода тормоза стояночного передний: замена
от 650 руб.
Тормозная система / Ваз 2107 / Трос привода тормоза стояночного передний: замена
от 650 руб.
Тормозная система / УАЗ / Трос привода тормоза стояночного передний: замена
от 650 руб.
Суппорт тормозной – С/У
от 600 руб.
Суппорт передний - С/У
от 600 руб.
Суппорт передний левый - ремонт
от 1100 руб.
Суппорт передний правый - ремонт
от 1100 руб.
Замена стойки амортизатора зад.
от 600 руб.
Ремонт подвески / Замена стойки амортизатора зад.
от 600 руб.
Диски тормозные задние (RR) - Замена,
от 500 руб.
Колодки тормозные задние дисковые (к - т) – замена
от 400 руб.
Колодки тормозные задние (дисковые) - замена (1 группа)
от 400 руб.
Колодки тормозные задние (Барабан) - замена
от 400 руб.
Опора шаровая рычага переднего (FR) левого (LH) - Замена,
от 450 руб.
Передняя подвеска / Отечественные / Замена нижнего рычага - отечественные
от 450 руб.
Передняя подвеска / Отечественные / Замена верхнего рычага - отечественные
от 450 руб.
Передняя подвеска / Иномарки / Замена нижнего рычага - иномарки
от 450 руб.
Передняя подвеска / Волга 402 дв. / Подшипник ступицы: замена
от 600 руб.
Передняя подвеска / Ваз 2107 / Подшипник ступицы: замена
от 600 руб.
Подшипник ступицы передний – замена
от 600 руб.
Подшипник ступицы передний - замена
от 600 руб.
Замена амортизаторов перед.
от 600 руб.
Диски передние тормозные -замена
от 50 руб.
Диск тормозной передний (2шт) - замена
от 500 руб.
Диски тормозные передние (FR) - Замена,
от 500 руб.
Диски передние тормозные - замена (1 группа)
от 500 руб.
Замена передних тормозных колодок
от 400 руб.
Тормозная система / Замена передних колодок
от 400 руб.
замена пружины амортизатора зад.
от 400 руб.
Пружина амортизатора передняя – замена
от 600 руб.
замена пружины амортизатора перед.
от 600 руб.
Замена пружин амортизатора - отечетсвенные
от 400 руб.
Шрус (пыльник) – замена наружный
от 1000 руб.
Шрус (пыльник) – замена внутренний
от 1000 руб.
Диагностика и ремонт ходовой и рулевого управления / Пыльник шруса приводного вала - замена
Бесплатно
Нижний рычаг передней подвеск - замена
от 850 руб.
Продольный рычаг задней подвески - замена (стоимость зависит от автомобиля)
от 850 руб.
Рычаг передней подвески - замена
от 850 руб.
Опора шаровая рычага заднего (RR) правого (RH) - Замена,
от 450 руб.
Стоимость работ / Замена рычагов, сайлентблоков
от 250 руб.
Сайлентблок подрамника — замена (подрамник снят)
от 350 руб.
Замена рычагов, сайлентблоков
от 250 руб.
замена сайлентблока верхнего рычага
от 250 руб.
Газо - распределительный механизм двигателя / Сальник коленвала передний - замена
от 350 руб.
Замена стабилизатора
от 1000 руб.
Стойка амортизаторная-снятие/установка с заменой патрона
от 1000 руб.
Замена стойки амортизатора
от 600 руб.
Стойка стабилизатор – замена
от 350 руб.
Замена стойки стабилизатора переднего
от 350 руб.
Замена - стойки стабилизатора, втулки
от 550 руб.
Кап. ремонт ДВС (без расточки блока, и снятия - установки ДВС) (1 группа)
от 15 000 руб.
Кап. ремонт ДВС (без расточки блока, и снятия - установки ДВС) (2 группа)
от 15 000 руб.
Кап. ремонт ДВС (без расточки блока, и снятия - установки ДВС) (3 группа)
от 15 000 руб.
Капитальный ремонт двигателя
от 15 000 руб.
Ремонт / А / м отеч. пр - ва / Замена - ремня ГРМ
от 1500 руб.
Ремонт / Иномарка / Замена - ремня ГРМ
от 1500 руб.
Ремонт / Внедорожник, ком. микроавтобус / Замена - ремня ГРМ
от 3500 руб.
Ремонт / ГАЗель, Соболь, Волга / Замена - цепи ГРМ
от 4500 руб.
Прайс-лист / Ремонт МКПП
от 5500 руб.
Прайс-лист / Трансмиссия / Hyundai Solaris, VW Golf, Ford Fiesta,Ford Focus и др. аналогичные по классу / Сальник привода - замена (на снятом приводе и слитом масле)
от 350 руб.
Прайс-лист / Трансмиссия / Audi 6, Ford Mondeo, С-max, Hyundai Sonata, Mazda 6, Toyota Camry, VW Passat и др. аналогичные по классу / Сальник привода - замена (на снятом приводе и слитом масле)
от 400 руб.
Прайс-лист / Сальник первичного вала КПП - замена (при снятой КПП) (2 группа)
от 450 руб.
Прайс-лист / Сальник коленвала передний - замена (Ремень ГРМ снят),
от 350 руб.
Прайс-лист / Газо - распределительный механизм двигателя / Сальник коленвала передний - замена
от 350 руб.
Ремонт ДВС / Замена шкива коленвала
от 500 руб.
Замена троса сцепления - отечественные
от 350 руб.
Прайс-лист / Ремонт трансмиссии и КПП / Замена главного цилиндра сцепления
от 800 руб.
Замена троса сцепления - иномарки
от 500 руб.
Регулировка - сцепления
от 150 руб.
Прайс-лист / Автоуслуги / Ремонт подвески / Замена привода в сборе
от 800 руб.
Прайс-лист / Сальник коленвала распредвала – замена (КПП снята)
от 350 руб.
Ремонт двигателя / Иномарки Внедорожники повышенной проходимости / ДВС снятие \ установка: передний привод (иномарки внедорожники повыш. проход.)
от 10 000 руб.
Трансмиссия (КПП) / Замена сальника выбора передач
от 500 руб.
Поддон ДВС — С/у
от 5000 руб.
Работы / Работы при ТО / Защита картера двигателя - с / у (1 группа)
от 200 руб.
Работы / Работы при ТО / Защита картера двигателя - с / у (2 группа)
от 200 руб.
Работы / Работы при ТО / Защита картера двигателя - с / у (3 группа)
от 200 руб.
Диагностика и ремонт двигателя / Чистка дроссельной заслонки
от 1500 руб.
Дросельный узел-чистка со снятием и установкой
от 1500 руб.
Диагностика подвески
Бесплатно
Передняя подвеска / ВАЗ 110/112 / Контрольный осмотр
Бесплатно
Стоимость работ / Осмотр-диагностика подвески
Бесплатно
Осмотр подвески
Бесплатно
Прайс-лист / Диагностика / Диагностика тормозной системы
Бесплатно
Прайс-лист / Стоимость работ / Осмотр-диагностика рулевой рейки
Бесплатно
диагностика ходовой
Бесплатно
Работы / Работы при ТО / Осмотр подвески (1 группа)
Бесплатно
Шрус – замена (привод снят)
от 1000 руб.
Замена наружного ШРУС
от 1000 руб.
Замена внутреннего ШРУС
от 1000 руб.
ШРУС внутренний (INS) привода левого (LH) - Замена,
от 1000 руб.
Замена передних амортизаторов
от 900 руб.
Стоимость работ / Замена задних амортизаторов
от 600 руб.
Прайс-лист / Стойка амортизатора передняя – замена
от 600 руб.
Замена задних амортизаторов
от 450 руб.
Диагностика и ремонт ходовой и рулевого управления / Втулка стабилизатора поперечной устойчивости - замена
Бесплатно
Втулки стабилизатора – замена
от 200 руб.
замена втулки стабилизатора переднего
от 200 руб.
Втулки стабилизатора переднего - замена (зависит от автомобиля)
от 200 руб.
Продольный рычаг задней подвески - замена (стоимость зависит от автомобиля) (1 группа)
от 400 руб.
Продольный рычаг задней подвески - замена (стоимость зависит от автомобиля) (2 группа)
от 400 руб.
Продольный рычаг задней подвески - замена (стоимость зависит от автомобиля) (3 группа)
от 400 руб.
Задняя подвеска   / Замена  верхнего рычага - иномарки
от 400 руб.
Подшипник ступицы задний - замена (1 группа)
от 600 руб.
Подшипник ступицы задний - замена (2 группа)
от 600 руб.
Подшипник ступицы задний - замена (3 группа)
от 600 руб.
Прайс-лист / Шрус – замена (привод снят)
от 1000 руб.
Замена колодок стояночного тормоза — легковые
от 850 руб.
Замена привода в сборе
от 800 руб.
Стойка амортизатора передняя – замена
от 600 руб.
Замена троса сцепления
от 350 руб.
Шаровая опора замена (рычаг снят)
от 450 руб.
Прайс-лист / Шрус (пыльник) – замена наружный
от 1000 руб.
Прайс-лист / Шрус (пыльник) – замена внутренний
от 1000 руб.
Ремонт подвески и ходовой части / Замена стойки амортизатора
от 600 руб.
Двигатель / Замена сальника распредвала
от 350 руб.
Стоимость работ / Осмотр-диагностика рулевой рейки
Бесплатно
Осмотр-диагностика рулевой рейки
Бесплатно
Пыльник рулевой тяги (левый) - замена,
от 750 руб.
Пыльник рулевой тяги - замена
от 750 руб.
Вал рулевой (колонка) – замена
от 1200 руб.
Замена - рулевого редуктора
от 1500 руб.
Рулевые рейки / Замена рулевого наконечника,
от 250 руб.
Прайс-лист / Насос ГУР - Замена,
от 1000 руб.
Прайс-лист / Рулевое управление / ГУР (насос) – замена
от 1000 руб.
Показать еще
Диагностика автомобиля
Компьютерная диагностика двигателя
от 700 руб.
Автоуслуги
Замена масла в АКПП (частичная, со снятием поддона)
от 2000 руб.
Замена маста в АКПП (частичная)
от 800 руб.
Замена масла в заднем редукторе
от 400 руб.
Замена масла в раздатке
от 400 руб.
Замена масла в двигателе
от 400 руб.
Замена масла в МКПП
от 450 руб.
Замена масла в ГУР
от 500 руб.
Замена топливного фильтра (дизель)
от 500 руб.
Замена топливного фильтра (бензин)
от 250 руб.
Замена топливного фильтра( в топливном баке)
от 1600 руб.
Замена воздушного фильтра
от 200 руб.
Замена масляного фильтра
от 160 руб.
Замена салонного фильтра
от 250 руб.
Дроссельная заслонка – чистка
от 400 руб.
Дроссельная заслонка – чистка ( с адаптацией)
от 1500 руб.
Жидкость сцепления — замена
от 500 руб.
Охлаждающая жидкость – замена
от 500 руб.
Замена масла в АКПП (полная)
от 2400 руб.
Осмотр одного цилиндра видеоэндоскопом
от 200 руб.
Диагностика КПП
от 300 руб.
Диагностика ABS
700 руб.
Диагностика тормозной системы
Бесплатно
Диагностика автомобиля перед покупкой
от 1300 руб.
Диагностика выхлопной системы
Бесплатно
Диагностика топливной системы
Бесплатно
Диагностика кондиционера
от 400 руб.
Диагностика электрики
от 700 руб.
Диагностика сигнализации
400 руб.
Проверка развал-схождения
600 руб.
Диагностика аккумулятора
Бесплатно
Полная диагностика автомобиля
1600 руб.
Диагностика световых приборов (фар)
от 500 руб.
Диагностика уровней и утечек технических жидкостей
Бесплатно
Диагностика навесных ремней
Бесплатно
Кондиционер – диагностика (проверка давления)
от 400 руб.
Регулировка света фар (1 фара)
400 руб.
Тест обратного пролива
400 руб.
Показать еще
Источник: https://mynnov.ru/mesto/avtoservis-na-ulice-rodionova

{% endblock %}
