{% extends 'sales/base.html' %}
{% load static %}
{% block content%}

<div class="container">
    <div class="car">
        {% for auto in car %}
        <div class="body_car">
            <img class="avatar" src="{{ car.featured_image.url }}">
            {% for auto in car.project_set.all %}
            <div class="column">
                <a href="{% url 'car' %}" class="car_body">
                    <img class="single_car" src="{{ car.featured_image.url }}" alt="">
                    <div class="cust_meta">
                         <h2>{{ car.name }}</h2>
                         <p class="car_title">{{ car.short_info|slice:"20" }}</p>
                    </div>
                    <p class="cust_info">{{ car.bio|slice:"120" }}</p>
                    <div class="custom">
                        <a href="#" class="btn">Отправить заявку покупки</a>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
