{% extends 'sales/base.html' %}
{% load static %}
{% block content %}
<div class="current">/ Главная / Внедорожники - последние новости /</div>
<h2>Автопроизводители планируют вывести на рынок новые модели полноприводных автомобилей,
а также выполнить рестайлинг своих флагманов. Предлагаем детально разобраться,
чем будут примечательны новинки внедорожников и кроссоверов 2023-2024 модельного
года в мировых автосалонах,а также рассмотреть обновления внешнего вида на фото,
узнать комплектации и цены самых ожидаемых авто с бензиновыми, дизельными, гибридными
и полностью электрическими двигателями</h2>
<div class="block_news">
        <div class="element_news">
            {% for n in projects %}
            <div class="img2">
                <a href="{% url 'news' n.id %}" target="_blank">
                    <img id="img2" src="{{ n.image.url }}" alt="">
                </a>
            </div>
             <div class="text_news">
                <h3><a href="{% url 'news' n.id %}" target="_blank">{{ n.title }}</a></h3>
                <p>{{ n.description }}</p>
             </div>
            {% endfor %}
        </div>
</div>



{% endblock %}