{% extends 'sales/base.html' %}
{% load static %}
{% block content %}
<div class="current">/ Главная / Тест-драйвы</div>
        <div class="service-header">Тестдрайвы  внедорожников</div>

<div class="menu">
    <div class="wrap-1">
        <ul class="tests">
            <li><a href="https://yandex.ru/video/preview/2013323291148266231" target="_blank">FORD F-350</a></li>
            <li><a href="https://yandex.ru/video/preview/14520783908999823722" target="_blank">УАЗ Хантер</a></li>
            <li><a href="https://yandex.ru/video/preview/2491694692340624626" target="_blank">Chevrolet Tahoe</a></li>
            <li><a href="https://yandex.ru/video/preview/14837268310400350551" target="_blank">Jeep Wrangler 392 Rubicon</a></li>
            <li><a href="https://yandex.ru/video/preview/11536412173204906215"  target="_blank">Volkswagen Toureg</a></li>
            <li><a href="https://yandex.ru/video/preview/698293988950028870"  target="_blank">Toyota Tundra</a></li>
            <li><a href="https://youtu.be/OKPqE65_Tx0"  target="_blank">Porche Macan Turbo</a></li>
        </ul>
    </div>
            <hr style: color="#bcabee">
     <div class="wrap-1">
        <ul class="tests">
            <li><a href="" target="_blank">Audi SQ8</a></li>
            <li><a href="" target="_blank">FORD F-150</a></li>
            <li><a href="" target="_blank">BMW X6 G06</a></li>
            <li><a href="" target="_blank">Mercedes GLE</a></li>
            <li><a href="" target="_blank">Ford F-150</a></li>
            <li><a href="" target="_blank">Mitsubishi Pajero Sport</a></li>
            <li><a href="" target="_blank">Lamborghini Urus</a></li>
        </ul>
    </div>
</div>
{% endblock %}